.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: #172234;
  padding: 18px 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 80px;
  box-shadow:
    0 10px 40px 0 rgba(0, 0, 0, 0.06),
    0 2px 10px 0 rgba(0, 0, 0, 0.1);
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: flex-end;
    padding: 18px 40px;
    gap: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 18px 80px;
  }
}
