.header {
  background-color: #172234;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: flex-end;
    padding: 20px 40px;
    gap: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 20px 80px;
  }
}

.headerLink {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.headerLink:hover {
  color: #ddd;
}
/* 
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
} */

.navigationItem {
  display: flex;
  align-items: center;
}

.navigationLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navigationLink:hover {
  color: #ddd;
}
