.navigation .logoutButton {
  border: 1px solid var(--button);
  color: var(--button);
  width: 120px;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.navigationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  border-radius: 8px;
  padding: 10px 24px;
  border: 1px solid var(--button);
  cursor: pointer;
  color: #b29f7e;
}

.navigationItem:hover {
  background-color: var(--button-hover);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}

.navigationLink {
  text-decoration: none;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
}

@media screen and (min-width: 738px) {
  .navigation {
    gap: 24px;
  }
  .navigationItem {
    min-width: 160px;
    padding: 12px 32px;
    font-size: 18px;
  }
  .navigation .logoutButton {
    width: 160px;
  }
}
