.mainContent {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 100px);
  gap: 100px;
}

.leftSide {
  width: 890px;
  background-image: url("/image-login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rightSide {
  width: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 24px;
  background-color: #fff;
  width: 100%;
}

.formTitle {
  font-size: 28px;
  color: rgb(23, 34, 52);
  margin-bottom: 10px;
  text-align: left;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #000;
}

.input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #172234;

  background-color: #e0e0e0;
  margin-top: 4px;

  border: 2px solid #e0e0e0;
  border-radius: 5px;
  padding: 19px 39px;
  width: 100%;
}

.input:focus {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  outline: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #e0e0e0 inset !important;
}

.linkForgot {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  color: #b29f7e;
  text-align: end;
  margin-bottom: 30px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.submitButton {
  width: 100%;
  background-color: rgb(178, 159, 126);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(178, 159, 126);
  color: rgb(255, 255, 255);
}

.submitButton:hover {
  color: var(--button);
  background-color: transparent;
}

.signUpBlock {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  color: #172234;
}

.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
  text-align: center;
}
