.btnBase {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 8px 12px;
  min-width: auto;
  cursor: pointer;
  flex: 1 1 auto;

  background-color: transparent;

  white-space: nowrap;

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 138%;
  text-align: center;
  color: #fff;
}

.btnBase:hover,
.btnBase:focus {
  background-color: var(--button-hover);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}

@media screen and (min-width: 738px) {
  .btnBase {
    padding: 10px 20px;
    min-width: 140px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .btnBase {
    padding: 12px 32px;
    min-width: 160px;
    font-size: 18px;
  }
}
