.btnBase {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 10px 24px;
  min-width: 120px;
  cursor: pointer;

  background-color: transparent;

  white-space: nowrap;

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  color: #fff;
}

.btnBase:hover,
.btnBase:focus {
  background-color: var(--button-hover);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
