.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  padding: 20px 80px;
  margin: 0;
  list-style: none;
}

.listItem {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 5px;

  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 16px;

  border-radius: 5px;

  width: calc((100% - 20px) / 1);
  height: 400px;

  color: #fff;
}

.listItem > * {
  flex: 1;
  min-width: 0;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 8px 0;
}

.content {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 122%;
  color: #fff;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .listItem {
    width: calc((100% - 20px) / 2);
    gap: 40px;
  }

  .title,
  .content {
    font-size: 18px;
  }
}
